<section class="w-full h-screen flex justify-center items-center bg-gray-50">
    <div class="h-fit">
        <h1 class="font-bold text-4xl text-gray-800">Hai <%=name%>, Terima kasih telah melakukan Verifikasi akun anda</h1>
        <h1 class="text-gray-600">Silahkan Login untuk melanjutkan</h1>
        <a href="/auth/login" class="block w-fit my-12 px-4 py-3 border bg-transparent border-gray-800 hover:bg-gray-800 hover:text-gray-100 transition-all duration-300">Login</a>
    </div>
</section>