<%- include("../../layouts/adminNav") %>
<section>
    <div class="mt-20 w-full lg:w-9/12 mx-auto">
        <div class="w-full">
            <h1 class="text-3xl font-bold text-center">Edit Data Desa</h1>
            <!-- form -->
            <div class="w-full">
                <form action="/admin/perangkat-desa/add" method="POST" enctype="multipart/form-data">
                    <div class="w-full md:w-1/2 mx-auto">
                        <div class="my-4">
                            <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nama</label>
                            <input value="<%=perangkat.name%>" type="text" name="name" id="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Nama">
                        </div>

                        <div class="my-4">
                            <label for="position" class="block text-gray-700 text-sm font-bold mb-2">Position</label>
                            <input value="<%=perangkat.position%>" type="text" name="position" id="position" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="jabatan">
                        </div>
                        <!-- no handphone -->
                        <div class="my-4">
                            <label for="number" class="block text-gray-700 text-sm font-bold mb-2">No Handphone</label>
                            <!-- phone number -->
                            <input value="<%=perangkat.number%>" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="13" name="number" id="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="No Handphone">
                        </div>
                         <div class="my-4">
                            <label for="image" class="block text-gray-700 text-sm font-bold mb-2">Foto</label>
                            <input accept="image/*" type="file" name="image" id="image" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        </div>
                        <div class="my-4">
                            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Tambah</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>