<!-- 404 not found -->
<section class="w-full h-screen flex justify-center items-center bg-gray-50">
    <div class="h-fit">
        <h1 class="text-8xl lg:text-[12rem] font-bold">404</h1>
        <h1 class="text-2xl lg:-mt-8 lg:text-4xl font-bold"> Halaman tidak ditemukan</h1>
        <!-- back to home with button monochrome style-->
        <a href="/" class="block w-fit my-12 px-4 py-3 border bg-transparent border-gray-800 hover:bg-gray-800 hover:text-gray-100 transition-all duration-300">Kembali ke Beranda</a>
    </div>

</section>