<%- include('layouts/nav.ejs') %>
<section>
    <section class="">
        <!-- bg fixed -->
        <div class="bg-fixed bg-cover bg-center bg-no-repeat bg-gray-400 h-[80vh] relative" style="background-image: url('assets/img/perangkat.jpeg');">
            <!-- overlay black -->
            <div class="bg-gradient-to-t from-black/75 to-transparent bg-opacity-50 absolute bottom-0 left-0 w-full h-3/4"></div>
            <div class="font-raleway w-full h-full absolute z-10 flex justify-center items-center">
                <div class="w-10/12 lg:w-full lg:flex items-center flex-col">
                    <!-- struktur perangkat desa -->
                    <div class="text-center">
                        <h1 class="text-3xl lg:text-5xl text-white font-bold">Struktur Perangkat Desa</h1>
                        <p class="text-white text-sm lg:text-base">Konda 1</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="mt-12">
    <div class="px-4 lg:px-0 lg:w-10/12 mx-auto">
        <div>
            <h1 class="font-bold text-2xl text-center uppercase text-gray-700">perangkat desa</h1>
        </div>
        <div class="mt-4 w-full lg:w-10/12 px-4 lg:px-0 flex flex-col lg:flex-row flex-wrap mx-auto justify-center">

            <!-- ejs looping perangkats -->
            <% perangkats.forEach(perangkat => { %>
                <div class="w-full lg:w-1/2 p-2">
                    <div data-aos="fade-up" class="w-full flex flex-col lg:flex-row rounded overflow-hidden h-full items-center border">
                        <div class="w-1/3 h-full mt-4 lg:mt-0">
                            <img src="assets/img/kegiatan.jpeg" alt="" class="w-full h-full object-cover">
                        </div>
                        <div class="w-full lg:w-2/3 p-4">
                            <table class="w-full text-sm">
                                <tr>
                                    <td class="">Nama</td>
                                    <td>:</td>
                                    <td class=""><%= perangkat.name %></td>
                                </tr>
                                <tr>
                                    <td class="">Jabatan</td>
                                    <td>:</td>
                                    <td class=""><%= perangkat.position %></td>
                                </tr>
                                <tr>
                                    <td class="">No. Telp</td>
                                    <td>:</td>
                                    <td class=""><%= perangkat.number %></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</section>