<%- include('layouts/nav') %>
<!-- show the result add data -->
<% if (success) { %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
<% } else { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
<% } %>
