<!doctype html>
<html lang="en" class="scroll-smooth h-full">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title><%- title %> </title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/style.css">
      </head>
      <body class="h-full flex flex-col font-poppins">
        <main class="flex-1">
            <%- body %>
        </main>
        <!-- footer copyright desa konda -->
        <footer class="bg-gray-800 text-gray-400 flex-shrink-0 mt-12">
            <div class="container mx-auto px-6 py-4">
                <div class="flex flex-col md:flex-row justify-between items-center">
                    <div class="flex items-center">
                        <a href="#" class="text-gray-100 text-xl font-bold hover:text-gray-400">Desa Konda</a>
                    </div>
                    <div class="flex items-center">
                        <a href="#" class="text-gray-100 text-xl font-bold hover:text-gray-400">Desa Konda</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
      </body>
</html>